@import "fontiran.css";
@import "plyr/dist/plyr.css";

.plyr {
  width: 100% !important;
  height: auto;
}

$bodyColor: #ebeaea;

body{
  font-family: IRANSans !important;
  background-color: $bodyColor !important;
}

.body {
  background-color: $bodyColor !important;
  width: 100% !important;
  height: 100% !important;
}


label,
div,
html,
h1,h2,h3,h4,h5,p,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-subtitle-1,
.text-subtitle-2,
.text-caption {
  font-family: IRANSans !important;
}

.ltrDirection {
  direction: ltr !important;
}

.unreadCount {
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 100%;
  font-size: 0.6rem;
  padding-top: 4px;
}
